.nav_container {
    transform: rotate(0) translateY(100%);
    transition: transform 0.35s ease;
}

.appear {
    transform: rotate(1deg) translateY(0);
}

.nav_container:hover {
    transform: rotate(1deg) translateY(0);
}

nav {
    transform: translateY(100%);
    transition: transform 0.25s ease;
}

.open {
    transform: translateY(0);
}

.nav-toggle {
    display: block;
}

nav h2,
.nav_contact span {
    font-size: 1.5em;
}

@media (max-width: 500px) {
    .appear {
    transform: translateY(0);
    }

    .nav_container {
        overflow-y: hidden;
    }
    
    .nav_container:hover {
        transform: translateY(0);
    }
}