/* Logo font */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');

/* Heading font */
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght,ELSH@100..900,2&display=swap');

/* Body font */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

body {
    --gap: 10px;
    --margin: 20px;
    --navWidth: calc(25vw - var(--margin)/2 - var(--gap)*3/4 - 1px);
	color: #000;
    font-size: 1.25rem;
    line-height: 1.25;
    gap: var(--gap);
    padding: 0;
    margin: 0;
    font-family: "Inconsolata", monospace;
    background-color: #f5f5f5;
}

.nav_container {
    width: var(--navWidth);
    max-width: 400px;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    scrollbar-width: none;
    bottom: 0;
    left: 0;
    z-index: 2;
    /* padding-right: var(--gap); */
}

nav {
    margin-left: var(--margin);
    margin-right: calc(var(--gap));
    width: stretch;
    position: absolute;
    bottom: 0;
    padding: 32px 20px 20px 20px;
    transform: translateY(84.5%);
    background-image:
        linear-gradient(180deg,
        rgb(206, 206, 206) 0%,
        rgb(246, 246, 246) 5%,
        rgb(221, 221, 221) 15.5%,
        rgb(198, 198, 198) 30%,
        rgb(246, 246, 246) 40%,
        rgb(236, 236, 236) 65.5%,
        rgb(199, 199, 199) 80%,
        rgb(241, 241, 241) 85%,
        rgb(228, 229, 177) 92%,
        rgb(207, 210, 96) 100%), 
        url(/assets/halftone-supply.jpg);
    background-size: cover, auto 70%;
    background-blend-mode: hard-light;
    background-origin: padding-box;
    height: fit-content;
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.15);
}

#halftone-texture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.15;
    pointer-events: none;
    mix-blend-mode: multiply;
}

.nav_about,
.nav_works,
.nav_contact {
    margin-bottom: 20px;
}

.nav_contact {
    position: relative;
}

.nav_datetime {
    display: flex;
    justify-content: space-between;
}

.align-right {
    text-align: right;
}

.page_container {
    /* 
    width 1 - for screen-width 1301px-1649px (default)
    width 2 - for screen-width > 1650px
    */
    --containerWidth: calc(100vw - var(--navWidth) - var(--margin)*2 - var(--gap) - 20px);
    width: var(--containerWidth);
    height: 100%;
    /* max-width: 1400px; */
    /* margin-right: var(--margin); */
    /* overflow-y: scroll;
    scrollbar-width: none; */
    padding: 0 var(--margin) 20px 20px;
    float: right;
}

.full-width {
    max-width: none;
    width: 100%;
}

.all-works {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}

.project-item {
    /* 
    width 1 - for screen-width 1301px - 1649px (default)
    width 2 - for screen-width > 1650px
    width 3 - for screen-width < 1300px
    */
    --projectWidth: calc(var(--containerWidth)/4 - var(--gap)*3/4);
    width: var(--projectWidth);
    height: calc(var(--projectWidth)*5/4);
    background-color:  rgba(225, 255, 0, 0.8);
}




/* 
Navigation text style 
*/

nav a,
nav h2,
nav h2 a,
nav h3,
nav h3 a,
nav p,
nav span {
	mix-blend-mode: color-burn;
    text-decoration: none;
    color: #050505;
    display: block;
}

nav a,
nav p,
footer {
    font-size: 1rem;
    margin: 0;
}

footer span {
    color: #090909;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-bottom: 2px dotted rgba(0, 0, 0, 0.5);
}

tr:last-child {
    border: none;
}

td {
    padding: 8px 0;
}

.project-name {
    width: 76%;
}

nav .project-date {
    text-align: right;
}

.nav-item {
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: anywhere;
    justify-content: space-between;
}



/* Animation */

.nav_container {
    transition: transform 0.25s ease;
}

.nav_container:hover {
    transform: rotate(0.5deg) translateX(5px) translateY(2px);
}

nav a:hover,
nav a:hover h3,
tr:hover td {
    font-weight: 600;
    text-shadow: 0 0px 0.5px rgba(0, 0, 0, 0.75), 0 0 3px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.25);
    mix-blend-mode: darken;
}

nav h3 a.active,
nav a.active .projectname {
    transform: none;
	color: #140401;
    text-shadow:
        0 0 9.5px rgba(12, 12, 12, 1),
        0 0 5.4px rgba(110, 21, 21, 1),
        0 0 2px rgba(125, 83, 0, 1) !important;
}

nav a.active .projectname {
	transform: rotate(2deg);
    font-weight: 600;
}

.logo {
	font-family: 'Rubik Puddles', cursive;
    font-size: calc(var(--navWidth) * 1/6);
    line-height: 0.6;
    text-align: center;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

nav .logo:hover {
    font-weight: 500;
}



/* Highlight effect */
::selection {
	background:  rgba(225, 255, 0, 0.8);
}

.nav a::selection,
.projectname::selection,
.nav h2::selection,
.nav span::selection {
	background: rgba(0, 0, 0, 1);
    color: #fff;
}



/**
 * Text styles
 */

a {
    text-decoration: none;
    color: #000;
}

.nav_about {
    text-align: center;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin-top: 0;
}

.page_container a {
    transition: text-shadow 0.2s;
    /* border-bottom: 1px solid #000; */
}

.page_container a:hover {
    text-shadow: #000;
}

p a.image-link,
p a.icon-link,
p a.image-link:hover,
p a.icon-link:hover {
	border-bottom: 0;
	padding-bottom: 0;
}

h1, h2, h3 {
    font-family: "Xanh Mono", monospace;
    padding: 0;
	margin: 0 0 0.5em 0;
    font-weight: normal;
    color: rgba(0, 0, 0, 1);
    line-height: 1;
}

h1 {
	font-size: 5rem;
    text-transform: uppercase;
}

h2 {
	font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

nav h2,
nav h3,
.nav_contact span {
    font-family: "Handjet", sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 0;
}

.nav_contact span {
    position: absolute;
    right: 0;
    top: calc(0.5rem + 2px);
    font-size: 2rem;
    line-height: 1;
}

th {
    text-align: left;
}

small {
	font-size: 1rem;
	font-family: "Inconsolata", monospace;
}

small a {
	color: rgba(0, 0, 0, 0.6);
	border-bottom-width: 0em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

footer {
    text-align: center;
    /* margin-top: 20px; */
    color: rgba(0, 0, 0, 1);
}

.tag-date {
    display: flex;
    margin: 0 0 60px 0;
    gap: var(--gap);
}

.project-tag {
    margin-bottom: 10px;
}

.project-tag small {
    display: inline-block;
    padding: 0 0.25em 0 0.25em;
    margin-bottom: 0.25em;
    background-color: rgba(164, 184, 176, 0.5);
}

.content-grid {
    display: flex;
    margin: 1em 0 2em 0;
    gap: var(--gap);
}

.col-2,
.project-tag {
    flex-grow: 0;
    flex-basis: 800px;
}

.tag-date .project-date {
    color: rgb(145, 175, 163);
    flex-grow: 0;
    flex-basis: 400px;
}

blockquote {
    border: 2px dotted #000;
    border-radius: 5px;
    padding: 1em 1.5em 1em 1.5em;
    margin: 0 1em 0 0;
}

.col-1 {
    flex-grow: 0;
    flex-basis: calc(400px - var(--gap));
}

ul,
ol {
    margin-top: 0;
    padding-left: 1.5em;
}

li {
    padding-left: 0.25em;
}



/* 
Break contents 
*/

hr {
    border: none;
	border-top: 1.5px dashed #050505;
	height: 0px;
    mix-blend-mode: color-burn;
    margin-block: 0.25rem;
}

hr.double-line {
    border-top: 4px double #050505;
}



/* 
Images
*/

img {
	border: 0;
	padding: 0;
    transition: transform 0.25s ease;
    display: block;
}

.cover-image {
	width: 100vw;
    max-width: none;
    transform: translateX(calc(-1 * var(--navWidth) - var(--margin) * 2 - var(--gap)));
    transition: none;
    margin-bottom: 10px;
}

.large-image {
    width: 150%;
    height: auto;
    transform: translateX(-16.666%);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--gap)/2);
}

.gallery-item {
    width: calc(50% - var(--gap)/4);
}

.gallery-item img{
    width: 100%;
    height: auto;
}



/* 
Responsive
*/

.nav-toggle {
        position: fixed;
        left: 0;
        bottom: 0;
        padding: 10px;
        z-index: 3;
        display: none;
        background-color: #f5f5f5;
}

.hide {
    display: none;
}

@media (min-width: 1601px) {
    
    nav a,
    nav p,
    footer p {
    font-size: 1.25rem;
    }

}

@media (min-width: 1650px) {
    .page_container {
        --containerWidth: calc(100vw - 400px - var(--margin) * 2 - var(--gap) - 20px);
    }

    .cover-image {
        transform: translateX(calc(-400px - var(--margin) * 2));
    }

    .large-image {
        width: 175%;
        height: auto;
        transform: translateX(-16.666%);
    }

}

@media (min-width: 2080px) {
    .page_container {
        --containerWidth: 1200px;
        float: none;
        margin-left: auto;
        margin-right: auto;
     }

     .col-2,
     .project-tag {
        flex-basis: 66%;
     }

     .cover-image {
        transform: translateX(calc(-1 * var(--pageMargin) - var(--margin)));
    }
}

@media (max-width: 1300px) {
    /* hide nav and show nav-toggle */

    body {
        padding: 20px;
    }

    .nav_container {
        max-width: none;
        width: 350px;
        transform: rotate(0) translateY(100%);
        transition: transform 0.35s ease;
    }

    .appear {
        transform: rotate(1deg) translateY(0);
    }

    .nav_container:hover {
        transform: rotate(1deg) translateY(0);
    }

    nav {
        transform: translateY(100%);
        margin-left: 0;
        transition: transform 0.25s ease;
        transition-delay: 0.15s;
        width: fit-content;
        left: 10px;
    }

    .open {
        transform: translateY(0);
    }

    .nav-toggle {
        display: block;
    }

    .logo {
        font-size: 5rem;
    }

    .page_container {
        width: 100%;
        padding: 0 0 60px 0;
        float: none;
    }

    .project-item {
        --projectWidth: calc(33.333vw - var(--margin) - var(--gap) * 2/3);
    }

    .cover-image {
        width: 100%;
        transform: none;
    }

    .large-image {
        transform: none;
    }

}

@media (max-width: 735px) {

    .project {
        --projectWidth: calc(50vw - var(--margin) - var(--gap) - 4px);
    }

    .tag-date {
        display: block;
    }

    .content-grid {
        flex-wrap: wrap;
        gap: 0;
    }

    .col-1,
    .col-2 {
        flex-grow: 1;
    }

    .side-note {
        display: none;
    }

    .cover-image {
        width: 100%;
        transform: none;
    }

    .large-image {
        width: 100%;
    }

}

@media (max-width: 500px) {
    
    .nav_container {
        transform: translateY(100%);
        transition: transform 0.35s ease;
        width: 100vw;
        padding: 0;
    }

    .nav_container:hover {
        transform: none;
    }

    .appear {
        transform: translateY(0);
    }

    nav {
        left: 0;
        width: 100%;
        margin: 0;
        padding: 52px 0 20px 0;
    }

    .logo,
    .nav_about,
    .nav_contact,
    .nav_datetime,
    .nav_works,
    .nav_contact {
        padding: 0 20px 0 20px;
    }

    .nav_contact span {
        right: 20px;
    }

}



